<!doctype html>
<title>MH Mining</title>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
jQuery(function(){
//	jQuery.getJSON('/simulate?input1='+ document.form2.param1.value + '&input2='+ document.form2.param2.value, function(data) {
	jQuery.getJSON('/json' , function(data) {
		  	document.form1.json_text1.value = JSON.stringify(data);
		});
	});

//Update data for form2
//function updateForm2() {
//jQuery(function(){
	   //jQuery.getJSON('/simulate1?input1='+ document.form2.button1.value + '&input2='+ document.form2.button2.value, 
                        //function(data) {
		  	//document.form2.output1.value = JSON.stringify(data.output1);
            //document.form2.output2.value = JSON.stringify(data.output2);
		//});
	//});
//}

//function updateForm3() {
	//yyy.src = '/graph1.png?input1='+ document.form2.button1.value + '&input2='+ document.form2.button2.value,
//} 

function updateForm2() {
	yyy.src = '/graph1.png?input1='+ document.form2.button1.value + '&input2='+ document.form2.button2.value
}

</script>

    <table border="0">
	
	<p align="center">          
    <font size="7">Choose your Plan</font>
    </p><br><br>  

	<form name="form2" action="javascript:updateForm2()">
    
        
       <!--<p align="left">!--> 
            <font size="5">Choose Location</font><br>
            <input type="radio"  id="param1" name="button1" value="1">Onshore
			<input type="radio"  id="param2" name="button1" value="Offshore">Offshore
			<input type="radio"  id="param3" name="button1" value="Subsea">Subsea
            <br><br>
        </p>

        <p align="left"> 
            <font size="5">Choose Transportation Metod</font><br>
            <input type="radio"  id="param4" name="button2" value="4">Pipeline
			<input type="radio"  id="param5" name="button2" value="via Plant">via Plant
			<input type="radio"  id="param6" name="button2" value="Ship">Ship
    		<br><br>
        </p>
        
        <!--<p align="left"> 
            <font size="3">How long will you use</font><br>
            <input type="radio"  id="param7" name="button3" value="7">20
			<input type="radio"  id="param8" name="button3" value="8">30
			<input type="radio"  id="param9" name="button3" value="9">40
            <br><br>
        </p>!-->

        <p align="left"> 
            <input type="submit" value="Decide" onClick= "yyy.src='/graph1.png'" > 
             <!--onClick= "yyy.src='/graph1.png'">!-->
             <br><br><br>
        </p>

		<p align="left">
            <font size="4">Total Cost is</font>
            <input type="text"  name="output1" value="">
            <font size="4">$</font><br><br>
        </p>

        <p align="left">
            <font size="4">Risk is</font>
            <input type="text"  name="output2" value=""><br><br><br><br>
        </p>
        
        <!--<form name="form3" action="javascript:updateForm3()">
            Cost = <input type="text"  name="Cost" value="">
            Risk =<input type="text"  name="Risk" value=""><br>
            <input type="submit" value="描画"><br>
        </form>!-->

        <td>
        <p align="right"> 
        <!--<img src="/graph1.png"　width="400px" height="600px" style="position: absolute; right: 100px; top: 100px":/></img>
        !-->
        <img src=" " name="yyy" width="400px" height="600px" style="position: absolute; right: 100px; top: 100px":/></img>
        </p>
        </td>



    </form>

</html>