<!doctype html>
<title>You Choose Onshore</title>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
jQuery(function(){
//	jQuery.getJSON('/simulate?input1='+ document.form2.param1.value + '&input2='+ document.form2.param2.value, function(data) {
	jQuery.getJSON('/json' , function(data) {
		  	document.form1.json_text1.value = JSON.stringify(data);
		});
	});

//Update data for form2
function updateForm2() {
jQuery(function(){
	   jQuery.getJSON('/simulate2?input1='+ document.form2.param1.value + '&input2='+ document.form2.param2.value + 
                      '&input3='+ document.form2.param3.value+ '&input4='+ document.form2.param4.value, 
                        function(data) {
		  	document.form2.output1.value = JSON.stringify(data.output1);
            document.form2.output2.value = JSON.stringify(data.output2);
            document.form2.output3.value = JSON.stringify(data.output3);
		});
	});
}
</script>
	
	<p align="center">          
    <font size="7">Choose your Plan at Offshore</font>
    </p><br><br>  
	<form name="form2" action="javascript:updateForm2()">
        
        <p align="center">
            <font size="5">How size</font><br>
            <input type="text"  name="param1" value=""> 
            <font size="5">(MW)</font><br><br>
        </p> 

        <p align="center">
            <font size="5">How distance from Offshore</font><br>
            <input type="text"  name="param2" value="">
            <font size="5">(km)</font><br><br>
        </p>
        
        <p align="center">
            <font size="5">How depth from Sea level</font><br>
            <input type="text"  name="param3" value="">
            <font size="5">(m)</font><br><br>
        </p>

         <p align="center">
            <font size="5">How long will you use</font><br>
            <input type="text"  name="param4" value="">
            <font size="5">(years)</font><br><br>
        </p>

        <p align="center">
            <input type="submit" value="decide"><br><br><br><br><br><br>
        </p>

        <p align="center">
            <font size="5">Recomend Method is</font>
            <input type="text"  name="output1" value=""><br><br>
        </p>

        <p align="center">
            <font size="5">Total Cost is</font>
            <input type="text"  name="output2" value="">
            <font size="5">$</font><br><br>
        </p>
        
        <p align="center">
            <font size="5">Risk is</font>
            <input type="text"  name="output3" value=""><br><br><br><br>
        </p>
        
    </form>

</html>