<!DOCTYPE html>

<html>

  <head>
    <meta http-equiv="Content-Type" content="text/html"; charset="utf-8"; >
    <link rel="stylesheet" type="text/css" href="./matome.css" /> 
    <title>アンケート2019</title>  
     
  </head>

  
  <body>
   
  <div class="p1">アンケート2019
    <br><br><br>
  </div>  
  
  <form action="regist2.php" method="post">
  
  <div class="p2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  &nbsp;日付<br/>
  <input type="datetime" name="date" style="width: 400px; length:200px; font-size:30px;"  value="" ><br />
  </div>
  
  <div class="p3"><br>性別<br><br/></div>
   
  <div class="gender"> 
  
    <input type="radio" id="button-1" class="gender" name="radio1" value="male"/>
    <label for="button-1">&nbsp;&nbsp;&nbsp;男性</label>&nbsp;&nbsp;
    <input type="radio" id="button-2" class="gender" name="radio1" value="female" checked/>
    <label for="buuton-2">&nbsp;&nbsp;&nbsp;女性</label>
    
    <br />
  </div>
 
  <div class="p4"><br>年齢<br><br/></div>

  <div class="year">
    
    <input type="radio" id ="button-3" class="year" name="radio2" value="70" />
    <label for="button-3">70代</label>
    <input type="radio" id ="button-4" class="year" name="radio2" value="80" />
    <label for="button-4">80代</label>
    <input type="radio" id ="button-5" class="year" name="radio2" value="90" />
    <label for="button-5">90代</label>
    <input type="radio" id ="button-6" class="year" name="radio2" value="older"/>
    <label for="button-6">それ以上</label>
    
    <br />
  </div>
  
  <p align="center">
    <font size="5">地域</font><br />
    <label><input type="radio" name="area" value="Tokyo" >東京</label>
    <label><input type="radio" name="area" value="Chiba" >千葉</label>
    <label><input type="radio" name="area" value="Others" >それ以外</label>
    <br />
  </p>
  
  <p align="center">
   <font size="5">血圧上</font><br />
   <input type="text" name="upper" style="width: 400px; length:200px; height:50px; font-size:30px;" value="" ><br />
  </p>
  
  <p align="center">
     <font size="5">血圧下</font><br />
    <input type="text" name="bottom" style="width: 400px; length:200px; height:50px; font-size:30px;" value=""><br />
    <br />
  </p>
  
  <p align="center">
    <input type="submit"　 value="登録する"　class="button">
  </p>
    
  
</form>
</body>
</html>