<!DOCTYPE>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>MH Mining Method</title>
</head>

<body>

<!--{% if name %}
  <h1>Hello {{ name }}!</h1>
{% else %}
  <h1>Hello, World!</h1>
  Specify your name /first/(your name) <br>
{% endif %}
!-->

<p align="center">  
  <font size="7">MhMining Method </font>
<br><br><br></p>  

<form action="second.html" method="post">

 <p align="center">
    <font size="5">Choose the Location </font><br /><br /><br />
    <label><input type="radio" name="location" value="Onshore" >Onshore</label>
    <label><input type="radio" name="location" value="Offshore" >Offshore</label>
    <label><input type="radio" name="location" value="Subsea" >Subsea</label>
    <br />
  </p>

 <p align="center">
  <input type="submit"　 value="Decide"　class="button">
  </p>

<!--<br>
    <form action="/add" method="get">
        <input type="text"  name="param1" value="1"><br>
        <input type="text"  name="param2" value="2"><br>
        <input type="text"  name="param3" value="3"><br>
        <input type="text"  name="param4" value="4"><br>
        <input type="submit" value="add"><br>
    </form>
!-->

</html>