<!doctype html>
    <head>
        <meta charset=“UFT-8”>
        <title>MH Mining</title>
        <link rel="stylesheet" type="text/css" href="static/mhcalc.css">
    </head>

    <body>

    <script
    	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>

    //Update data for form2
    function updateForm2() {
    jQuery(function(){
	    jQuery.getJSON('/simulate1?input1='+ document.form2.button1.value + '&input2='+ document.form2.button2.value, 
                            function(data) {
		  	    document.form2.output1.value = JSON.stringify(data.output1);
                document.form2.output2.value = JSON.stringify(data.output2);
		    });
	    });
    }

    function updateForm3() {
	        yyy.src = '/graph1.png?input1='+ document.form2.button1.value + '&input2='+ document.form2.button2.value 
    } 

    </script>

	    <div align="center">          
            <font size="7">Choose your Plan</font>
        </div><br><br>  

	    <form name="form2" action="javascript:updateForm2()">
    
        <div align="left">
            <font size="6" style="position: absolute; left: 38px; top: 150px":/>Choose Location</font><br>
            <input type="radio" name="button1" value="1" checked="checked" onClick="updateForm2()" style="position: relative; left: 30px; top: 50px":/>
            <font size="4" style="position: relative; left: 30px; top: 50px":/>Onshore</font>
			<input type="radio" name="button1" value="2" onClick="updateForm2()" style="position: relative; left: 30px; top: 50px":/>
            <font size="4" style="position: relative; left: 30px; top: 50px":/>Offshore</font>
			<input type="radio" name="button1" value="3" onClick="updateForm2()" style="position: relative; left: 30px; top: 50px":/>
            <font size="4" style="position: relative; left: 30px; top: 50px":/>Subsea</font>
            <br><br><br><br>
        </div>

        <div align="left"> 
            <font size="6" style="position: relative; left: 30px; top: 50px":/>Choose Transportation Method</font><br>
            <input type="radio" name="button2" value="4" checked="checked" onClick="updateForm2()" style="position: relative; left: 30px; top: 50px":/>
            <font size="4" style="position: relative; left: 30px; top: 50px":/>Pipeline</font>
			<input type="radio" name="button2" value="5" onClick="updateForm2()" style="position: relative; left: 30px; top: 50px":/>
            <font size="4" style="position: relative; left: 30px; top: 50px":/>via Plant</font>
			<input type="radio" name="button2" value="6" onClick="updateForm2()" style="position: relative; left: 30px; top: 50px":/>
            <font size="4" style="position: relative; left: 30px; top: 50px":/>Ship</font>
    		<br><br><br><br>
        </div>

        <div align="left"> 
            <input type="submit" value="Decide" onClick= "updateForm3()" class="pi" style="position: relative; left: 200px; top: 50px":/><br><br><br>
        </div>

		<!--
        <div align="left">
            <font size="4">Total Cost is</font>
            <input type="text"  name="output1" value="">
            <font size="4">$</font><br><br>
        </div>

        <div align="left">
            <font size="4">Risk is</font>
            <input type="text"  name="output2" value=""><br><br><br><br>
        </div>
        -->

        </form>

        <div>
        
        <img src=" " name ="yyy"  width="600px" height="800px" style="position: absolute; left: 600px; top: 80px":/> 
    
        </div>

    </body>

</html>